.chat-header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn2{
    font-size: 20px;
}

.logo1{
    height: auto;
    width: 70px
}
.room-sidebar{
    height: 70%;
    grid-area: menu;
}
.room-messages{ 
    height:70%;
    grid-area: messagebox;
    display: flex;
    flex-direction: column-reverse;
}

.chat-container{
    display: grid;
    grid-template-areas: 
    'header header header'
    'menu messagebox messagebox';
    gap: 10px

}

.messages{
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    height: 80vh;
    
}

.meta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-weight: bold;
}

